@keyframes initShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

body {
    animation: initShow 1s;    
}

.beforeshow {
    display: hidden;
}
.show {
    animation: lineShow 2s forwards;
}