:root {
    /*
    https://colorhunt.co/
    */

    /*cuttent*/
    --main-color : black;
    --sub-color : white;
    --pt-color : grey;
    --pt2-color : yellow;
}

.color-main {
    background-color: var(--main-color);
    color: var(--sub-color);
}

.color-form {
    background-color: var(--main-color);
    color: var(--sub-color);
    border-bottom-color: var(--pt-color);
}

.time {
    -webkit-text-stroke: 3px var(--sub-color);
    color: var(--main-color);
}

.date {
    color: var(--sub-color-color);
}

input:focus {
    color: var(--pt-color);
}
::placeholder {
    color: var(--pt-color);
}

.color-verse {
    color: var(--pt-color);
}

.color-setting {
    background-color: var(--pt-color);
    color: var(--main-color);
}

.color-btn {
    background-color: var(--sub-color);
    border-color: var(--sub-color);
    color: var(--main-color);
}

.color-btn:hover {
    scale: 1.1;
    color: var(--sub-color);
    box-shadow: inset 0 0 0 2em var(--main-color);
}

.color-setting-btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--pt-color);
}

.color-setting-btn:hover {
    scale: 1.1;
    color: var(--main-color);
    box-shadow: inset 0 0 0 2em var(--pt-color);
}

.color-setting-btn-active {
    scale: 1.1;
    color: var(--main-color);
    box-shadow: inset 0 0 0 2em var(--pt-color);
}

.arrow-up-icon-hover:hover,
.exit-icon-hover:hover {
    color: var(--main-color);
    background-color: var(--pt-color);
}

.todo-box {
    border-bottom: 1px dotted;
    border-color: var(--pt-color);
}
.todo-box:last-child {
    border: none;
}

.timeline-text {
    color: var(--pt2-color);
}
.timeline-linebox {
    background-color: var(--pt-color);
}

.timeline-text:hover {
    color: var(--pt-color);
    background-color: var(--pt2-color);;
}

.timeline-btn-active {
    scale: 1.1;
    color: var(--sub-color);
    box-shadow: inset 0 0 0 2em var(--main-color);
    opacity: 80%;
}

@media (max-width: 767px) {
    .time {
        -webkit-text-stroke: 1px var(--sub-color);
        color: var(--main-color);
    }
}