:root {
    /*
    https://colorhunt.co/
    */

    /*cuttent*/
    --main-color : rgb(235, 69, 95);
    --sub-color : rgb(252, 255, 231);
    --pt-color : rgb(186, 215, 233);
    --pt2-color : rgb(43, 52, 103);

    /*Retro*/
    --main-color1 : rgb(235, 69, 95);
    --sub-color1 : rgb(252, 255, 231);
    --pt-color1 : rgb(186, 215, 233);
    --pt2-color1 : rgb(43, 52, 103);
    
    /*Neon*/
    --main-color2 : rgb(20, 63, 107);
    --sub-color2 : rgb(245, 83, 83);
    --pt-color2 : rgb(254, 177, 57);
    --pt2-color2 : rgb(246, 245, 77);
    /*Gold*/
    --main-color3 : rgb(254, 249, 167);
    --sub-color3 : rgb(250, 194, 19);
    --pt-color3 : rgb(247, 126, 33);
    --pt2-color3 : rgb(214, 28, 78);
}

.color-main {
    background-color: var(--main-color);
    color: var(--sub-color);
}

.color-form {
    background-color: var(--main-color);
    color: var(--sub-color);
    border-bottom-color: var(--sub-color);
}

::placeholder {
    color: var(--sub-color);
}

.color-verse {
    color: var(--pt-color);
}

.color-setting {
    background-color: var(--sub-color);
    color: var(--main-color);
}

.color-btn {
    background-color: var(--sub-color);
    border-color: var(--sub-color);
    color: var(--main-color);
}

.color-btn:hover,
.color-btn:focus {
    scale: 1.1;
    color: var(--sub-color);
    box-shadow: inset 0 0 0 2em var(--main-color);
}

.color-setting-btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--sub-color);
}

.color-setting-btn:hover,
.color-setting-btn:focus {
    scale: 1.1;
    color: var(--main-color);
    box-shadow: inset 0 0 0 2em var(--sub-color);
}

.arrow-up-icon-hover:hover,
.exit-icon-hover:hover {
    color: var(--sub-color);
    background-color: var(--main-color);
}