:root {
    /*
    https://colorhunt.co/
    */
    /*Retro*/
    --main-color1 : rgb(235, 69, 95);
    --sub-color1 : rgb(252, 255, 231);
    --pt-color1 : rgb(186, 215, 233);
    --pt2-color1 : rgb(43, 52, 103);
    
    /*Neon*/
    --main-color2 : rgb(20, 63, 107);
    --sub-color2 : rgb(245, 83, 83);
    --pt-color2 : rgb(254, 177, 57);
    --pt2-color2 : rgb(246, 245, 77);
    /*Gold*/
    --main-color3 : rgb(254, 249, 167);
    --sub-color3 : rgb(250, 194, 19);
    --pt-color3 : rgb(247, 126, 33);
    --pt2-color3 : rgb(214, 28, 78);
}

.color-main {
    background-color: var(--main-color1);
    color: var(--sub-color1);
}
.color-form {
    background-color: var(--main-color1);
    color: var(--sub-color1);
    border-bottom-color: var(--sub-color1);
}

::placeholder {
    color: var(--sub-color1);
}

.color-verse {
    color: var(--pt-color1);
}

/*
color of btn is in button.css
*/