body {
    height: 90vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

.box {
    padding: 10px;
}

.time {
    font-family: 'Roboto Mono', monospace;
    font-size: 100px;
}

.date {
    font-size: 18px;
    position: relative;
}

.login-blank {
    padding: 10px;
    font-size: 20px;
}

input {
    width: 40vh;
    font-size: 20px;
    border-width: 0;
    border-bottom-width: 2px;
}

input:focus {
    outline: none;
}

.greeting {
    padding-top: 0;
    margin-top: 0;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-box {
    display: flex;
    flex-direction: row;
}

.todo-line-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verse-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: absolute;
    bottom:30px;
}

.verse-line {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-size: 14px;
}

.hidden {
    display: none;
}

.reset-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}