:root {
    --main-color: #02343F;
    --sub-color: #F0EDCC;
}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

.main-box {
    width: 80%;
    background-color: var(--main-color);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px;
    border-style: solid;
    border-color: var(--sub-color);
    border-radius: 10px;
}

.line {
    color: var(--sub-color);
    font-family: 'Press Start 2P', cursive;
    padding: 12px;
}

.animate-blink {
    animation: blinkAnimation infinite 1.2s;
}