:root {
    --main-color: #02343F;
    --sub-color: #F0EDCC;
    --point-color: coral;
}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*
@keyframes changeScene {
    0% {
        height: 300px;
    }
    20% {
        height: 300px;
    }
    50% {
        height: 0px;
    }
    100% {
        height: 800px;
    }
}

@keyframes textDisapear {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
*/
body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

.main-box {
    height: 300px;
    width: 80%;
    background-color: var(--main-color);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px;
    border-style: solid;
    border-color: var(--sub-color);
    border-radius: 10px;
}
/*
.main-box:active {
    animation: changeScene 1.4s;
}

.main-box:active .line {
    animation: textDisapear 1.4s;
}
*/
.line {
    color: var(--sub-color);
    font-family: 'Press Start 2P', cursive;
    padding: 12px;
}

.animate-blink {
    animation: blinkAnimation infinite 1.2s;
}

.clickActive {
    color: var(--point-color);
}

.text {
    transition: color .3s ease-in-out;
}